@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

/* Police Logo + titres */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

main {
    margin:0;
}

h2 {
padding: 2rem 0;
margin:0;
}

h4 {
    margin:  0;
}

.menu-item__description p {
    margin: 0;
    margin-top: 0.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}



/* Général */

.flexstart {
    display: flex;
    justify-content: flex-start;
}

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexend {
    display: flex;
    justify-content: flex-end;
}

.flexaround {
    display: flex;
    justify-content: space-around;
}

.flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexcolumncenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexcolumn {
    display: flex;
    align-items: flex-start;
}

.flexcolumnaround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexcolumnbetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

.alignitems {
    display: flex;
    align-items: center;
}


/* Couleurs et styles généraux */
.sizetext {
    font-weight: 700;
}

.decorationNone {
    text-decoration: none;
}

.bordernone {
    border: none;
}

.colorpurple {
    color: #9356DC;
}

.colorpink {
    color: #FF79DA;
}

.colorgrey {
    color: #7E7E7E;
}

.colorblack {
    color: #1C1C1C;
}

.backgrey {
    background-color: #F6F6F6;
}

