@use "../utils/anim";
/* Zone Explorer */
@use "../utils/colors";
@use "../utils/mixins";
@use "../components/buttons";

.explorer {
    text-align: center;
& h2 {
    padding : 3rem 0 0 0;
    font-size: 1.5rem;
    }   
& h3 {
    font-weight: lighter;
    color: colors.$grey;
    }

& button {
    @include buttons.button;
    transition: 300ms;
    &:hover {
    @include mixins.shad-button;}
    }
}

/* Loader-spinner */

.loader {
    $anim-duration: 0.1s;
    $anim-count: 4;
    position: fixed;
    display: grid;
    place-items: center;
    background-color: white;
    height: 100vh;
    inset: 0; // = margin: 0
    z-index: 1;
   // Mentor - opacity: 0.9;
    animation: loader-stop 1s $anim-duration * $anim-count forwards; // duration timing-function delay iteration-count direction fill-mode;
    //animation-fill-mode: forwards; 
    //animation-delay: $anim-count * $anim-duration;
    transform-origin: center; //  top

// avec icon :
//  i {animation: spin 3s infinite linear;}
// sans icon :
    &::after {
        content: "";
        height: 7rem;
        width: 7rem;
        border: 5px solid transparent;
       // border-right: 5px solid transparent;
        border-top: 5px solid colors.$purple;
       // border-left: 5px solid transparent;
        border-bottom: 5px solid colors.$pink;
        border-radius: 50%; // 7rem
        animation: spin $anim-duration infinite ease-in-out; //linear 
        animation-iteration-count: $anim-count;
    }
}