@use "../utils/variables";
@use "../utils/colors";
@use "../utils/mixins";
@use "../components/buttons";

.blockfonction {
    padding-bottom: 2rem;
  h2 {
    padding-left: 2rem;
    }  
}

.fonctioning {
    column-gap: 2rem;
    & .buttonf {
        @include buttons.buttonf;
        @include mixins.shad;  
       } 
    & .icon {
    border-radius: 2 * variables.$fonctioning-dim;
    /* cercle */
    width: 1.5 * variables.$fonctioning-dim;
    /* bordure */
    height: 1.5 * variables.$fonctioning-dim;
    color: white;
    background-color: colors.$purple;
    margin: 2.5 * variables.$fonctioning-dim 0;
    font-size: variables.$fonctioning-dim ;
    float: left;
    position: absolute;
    border: 1px solid transparent; //*
    }
& i {
    color: colors.$grey;
    font-size: 1.2 variables.$fonctioning-dim ;
    padding: 1.5 * variables.$fonctioning-dim 0;
}
}
