@use "../utils/mixins";
@use "../utils/anim";
@use "../utils/variables";
@use "../utils/colors";
@use "../components/buttons";

#page-restau {
  header {
    .fa-arrow-left {
      font-size: x-large;
      left: 10%;
      top: 3rem;
      position: absolute;
      transform: translateY(-40%);
      transition: transform 0.5s;
      @media (max-width: variables.$breakpoint) {
        left: 5%;
      }
      &:hover {
        font-size: 1.7rem;
        @include mixins.hover-explorer($transformScale: translateY(-50%));
      }
    }
  }
}

.banner img {
  position: relative;
  width: 100%;
  max-height: 25rem;
  object-fit: cover;
  object-position: center 60%;
  overflow: hidden;
  @media (max-width: 500px) {
    max-height: 300px;
  }
}

.restau-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: lighten(colors.$grey, 45);
  border-radius: 3rem 3rem 0 0;
  margin-top: -3rem;
  h2 {
    font-family: "Shrikhand", "cursive";
    padding: 2rem;
    @media (min-width: variables.$breakpoint2) {
      margin-left: 3rem;
    }
  }
  .heart {
    padding-right: 2rem;
    font-size: 2rem;
    position: relative;
    @include mixins.heart;
    @include mixins.hover-heart;
    @media (min-width: variables.$breakpoint2) {
      margin-right: 3rem;
    }
  }
}

.restau-main {
  background-color: lighten(colors.$grey, 45);
  @media (max-width: variables.$breakpoint) {
    padding: 1rem;
  }
  @media (min-width: variables.$breakpoint) and (max-width: $breakpoint2) {
    padding: 0 2rem;
  }
  @media (min-width: variables.$breakpoint2) {
    padding: 0 4rem;
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-bottom: 1rem;
  @media (max-width: variables.$breakpoint) {
    grid-template-columns: 1fr;
  }
  h3 {
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    left: 1rem;
    margin-bottom: 1.5rem;
    &::after {
      content: "";
      position: absolute;
      top: 1.5rem;
      left: 0;
      height: 0.25rem;
      width: 3rem;
      background-color: colors.$tertiary;
    }
  }

  .menu__category {
    //anim apparence
    overflow: hidden;
    .menu-item {
      $numberOfItems: 3;
      @for $i from 1 through $numberOfItems {
        &:nth-child(#{$i}) {
          animation: menu-appear 1s;
          animation-fill-mode: both;
          animation-delay: 100ms * $i;
        }
      }
      display: flex;
      background-color: white;
      border-radius: variables.$dim;
      margin: 1rem 0.5rem;
      overflow: hidden;
      @include mixins.shad;
      .menu-item__price {
        margin-left: auto;
        font-weight: 900;
        padding: variables.$dim;
        display: flex;
        align-items: flex-end;
      }
      .menu-item__description {
        padding: 0.5rem;
        line-height: 1.5rem;
        overflow: hidden;
        h4,
        p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        p {
          font-weight: 300;
        }
      }
      .menu-item__check {
        $check-width: 4rem;
        display: grid;
        place-items: center;
        width: $check-width;
        flex-shrink: 0;
        border-radius: 0 1rem 1rem 0;
        background-color: colors.$tertiary;
        margin-right: -1 * $check-width;
        transition: margin-right 0.5s;
        & .fa-check {
          $size: 1.2rem;
          display: grid;
          place-items: center;
          color: colors.$tertiary;
          background-color: white;
          width: $size;
          height: $size;
          border-radius: $size;
        }
      }
      &:hover {
        cursor: pointer;
        .menu-item__check {
          margin-right: 0;
        }
        .fa-check {
          animation: turn-check 0.5s ease-in-out;
        }
      }
    }
  }
}

.order {
  padding-bottom: 3rem;
  .button {
    @include buttons.button;
    transition: 300ms;
    &:hover {
      @include mixins.shad-button;
    }
  }
}
