@use "colors";

/* Affichage des menus */
// Test 1
@keyframes menu-appear {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation Check */
@keyframes turn-check {
  0% {
    transform: rotate(-270deg); //-3/4 de 360°
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes push-price {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateX(-55px);
  }
}

/* Loader-Spinner dans explorer.scss */
@keyframes loader-stop {
  // from {
  //     transform: scale(1);
  // }
  to {
    transform: scale(0);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes heart-opacity {
  0% {
    //color: lighten (colors.$gradient, 33);
    opacity: 0;
    //transform: translateY(50%);
  }
  100% {
    //color: colors.$gradient;
    opacity: 1;
    //transform: translateY(0);
  }
}
